@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  --primary-color: #45679F;
  /* Primary Color */
  --secondary-color: #0859db;
  /* Secondary Color (Red) */
  --background-color: #FFF5F5;
  /* Example Background Color */
}

.table-container {
  position: relative;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

.table-header {
  background-color: var(--primary-color) !important;
  color: var(--background-color) !important;
  /* font-weight: bold; */
}

.table-row {
  border-bottom: 1px solid #ddd;
}

.sticky-row {
  position: sticky;
  bottom: 10px;
  background: #f8f8f8;
  /* font-weight: bold; */
  z-index: 2;
  border-top: 2px solid #000;
  background-color: var(--primary-color) !important;
  color: var(--background-color) !important;
}

.sticky-table-cell {
  background-color: unset !important;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px; */
  /* background-color: #b2c3ff; */
  border-top: 1px solid #ddd;
}

.rows-per-page {
  width: 60px;
}

.wrapper {
  min-height: 100vh;
  height: fit-content;
}

.logo {
  filter: drop-shadow(0 3px 2px rgba(49, 49, 49, .439216));
}

.login-logo {
  width: 100%;
  height: 4.5rem;
  object-fit: contain;
}

a {
  /* color: #45679F !important; */
  text-decoration: none;
  color: #45679F !important;
}

.link-color {
  color: #45679F !important;
}

.forget-password {
  color: #7367f0 !important;
  font-size: 14px !important;
}

.header-link {
  color: #111 !important;
  font-weight: 500;
  margin: 0 10px;
}

.top-header {
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
  background: #fff !important;
}

.header-logo {
  height: 2.75rem;
  width: auto;
  max-width: 10rem;
  object-fit: contain;
  filter: drop-shadow(0 3px 2px #31313170);
}

.hearder-btn {
  color: #111 !important;
  font-weight: 500 !important;
  text-transform: none !important;
  padding: .5rem .75rem !important;
  height: fit-content !important;
}


.hearder-right-btn {
  background: var(--primary-color) !important;
  padding: .5rem .75rem !important;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 500 !important;
  text-transform: none !important;
  margin-right: 10px !important;
  height: fit-content !important;
  font-size: 16px !important;
}

.create-organisation {
  margin: 10px !important;
}

.hearder-left-btn-active {
  background: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 500 !important;
  text-transform: none !important;
  padding: .5rem .75rem !important;
  height: fit-content !important;
}

.hearder-left-btn-menu-active {
  background: var(--primary-color) !important;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 500 !important;
  text-transform: none !important;
  padding: .5rem .75rem !important;
}

.css-1nni8rs .MuiDataGrid-columnHeaders {
  background-color: var(--primary-color);
}

.card {
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}